
<div class="container-fluid   mx-5 py-2  bg-white rounded" style="width: auto;">





  <div class="row">

    <div class="col-4">

      <h2 class="my-5">Promociones activas</h2>

      <app-promocion *ngFor="let promocion of promociones" [promocion]="promocion"></app-promocion>

    </div>




    <div class="col-8">

      <h2 class="my-5">Productos</h2>


      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-2 ">
        <app-producto *ngFor="let producto of productos" [producto]="producto" ></app-producto>

      </div>
    </div>


  </div>
</div>
